<form #f="ngForm"
(ngSubmit) = 'login(f)'>
  <h1>Login</h1>

<div class="form-group">
<label for="emailID">Email Id</label>
<input required ngModel name="email"
               id="emailID"
               type = "Text"
               #emailId='ngModel'
               class="form-control" (blur)="validate(f)" (keyup)="validate(f)">
  <div class="alert alert-danger"
       *ngIf= "emailId.touched  && !emailId.valid">

       emailId is required

   </div>
</div>

<div>
  <label for="password">Password</label>
  <input required id="password" ngModel name='password'
        type = "Text"
        #password='ngModel'
        class="form-control" (blur)="validate(f)" (keyup)="validate(f)">
  <div class="alert alert-danger"
       *ngIf='password.touched && !password.valid'>
        Password is required
  </div>

</div>

<div>
  <re-captcha (resolved)="resolved($event)" siteKey="6LfrFvEZAAAAAD4GtsN2ie6vVy9q9Zka_ga2rEgh"></re-captcha>
 
</div>
<button class="btn btn-primary button" [ngClass]= "{'disabled':disable}" >
    LOGIN
  </button>


</form>
